*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
.app-heading{
  text-align: center;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
h1 {
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: #0ccac4;
}